*.unity !text !filter !merge !diff
MoveMockFinal.unity filter=lfs diff=lfs merge=lfs -text
MoveMock.unity filter=lfs diff=lfs merge=lfs -text
MoveMock.unity !text !filter !merge !diff
MoveMockFinal.unity !text !filter !merge !diff
MoveMockSchlank.unity filter=lfs diff=lfs merge=lfs -text
MoveMockSchlankCopy.unity filter=lfs diff=lfs merge=lfs -text
MoveMockPart1 filter=lfs diff=lfs merge=lfs -text
MoveMockPart2 filter=lfs diff=lfs merge=lfs -text
MoveMockPart1.unity filter=lfs diff=lfs merge=lfs -text
MoveMockPart2.unity filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
