*.unity !text !filter !merge !diff
MoveMockFinal.unity filter=lfs diff=lfs merge=lfs -text
MoveMock.unity filter=lfs diff=lfs merge=lfs -text
MoveMock.unity !text !filter !merge !diff
MoveMockFinal.unity !text !filter !merge !diff
MoveMockSchlank.unity filter=lfs diff=lfs merge=lfs -text
