.ojk {
    min-width: 600px;
    max-width: 600px;
    max-height: 60px;
    min-height: 60px;
    font-size: 42px;
    -unity-font-style: bold;
    text-overflow: clip;
    background-color: rgb(240, 39, 39);
    -unity-background-image-tint-color: rgb(247, 247, 247);
}

.ojj {
    background-color: rgb(55, 39, 240);
}
